# Chặn tất cả các thư mục build ở bất kỳ cấp độ nào
**/build/
**/android/app/build/
**/ios/Flutter/

# Chặn các file nhị phân và thư mục công cụ
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Chặn các file thực thi nặng của Android
**/*.apk
**/*.aab
**/*.so
**/*.bin
